version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: finance_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: finance_app
    ports:
      - "5455:5432"
    volumes:
      - postgres_data_new:/var/lib/postgresql/data

  
  redis:
    image: redis:alpine
    container_name: finance_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  

volumes:
  postgres_data_new:
  redis_data: 